.background{
    width: 1340px;
    height:651px;
    background-image:url(img/Works/background.jpg);
    background-repeat: no-repeat;
}


#lineone{
    margin: 0px;
    padding: 0px;
}
#lineone li{
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    width: 140;
    height: 140;
    list-style-type: none;
    margin-right: 30;
}
#lineone li a{
    position:relative;
    border-radius: 50%;
    display: block;
    width: 140;
    height: 140;
}
#lineone li a:hover{
    right: 60;
}


#linetwo li{
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    width: 140;
    height: 140;
    list-style-type: none;
    margin-right: 30;
    margin-top: 30;
}
#linetwo li a{
    position:relative;
    border-radius: 50%;
    display: block;
    width: 140;
    height: 140;
}
#linetwo li a:hover{
    right: 60;
}



#linethree li{
    display: block;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    width: 140;
    height: 140;
    list-style-type: none;
    margin-right: 30;
    margin-top: 30;
}
#linethree li a{
    position:relative;
    border-radius: 50%;
    display: block;
    width: 140;
    height: 140;
}
#linethree li a:hover{
    right: 60;
}